* {
    margin: 0;
    border: 0;
    box-sizing: border-box; /* Adiciona box-sizing para um melhor controle de layout */
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.center {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* Largura fixa para o formulário */
}

.form {
    display: flex;
    flex-direction: column; /* Alinha os inputs verticalmente */
    gap: 15px; /* Espaço entre os inputs */
}

.inputs {
    display: flex;
    flex-direction: column; /* Mantém o label acima do input */
}

.form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    color: #333;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    justify-content: center;
    background-color: #007BFF; /* Cor do botão */
    color: white; /* Texto do botão */
    font-weight: bold;
    cursor: pointer; /* Indica que o botão é clicável */
    transition: background-color 0.3s;
    margin: auto;
    margin-top: 10px; /* Transição suave para hover */
}

button:hover {
    background-color: #0056b3;
     /* Cor do botão ao passar o mouse */
}
